{% extends 'base.html' %}

{% block title %}NoSql Flowchart{% endblock %}

{% block content %}
<p>This exercise is designed to take you through some questions to try and fix a particular NoSql implementation to your requirements. It does require some knowledge of what problem you want to solve and the technical details of some of the implementations.</p>

<p>It assumes that your problem consists of the normal mix of data and queries and that there are not any niche products that would be particularly good for your situation (e.g. graph, XML databases or BLOB stores).</p>

<p><a href="/flowchart/1">Start the exercise</a></p>
{% endblock %}