{% extends 'base.html' %}

{% block title %}Yes or NoSQL{% endblock title %}

{% block content %}
<h1>Can I use NoSQL?</h1>

<p>This site aims to create resources to help you decide whether you can use NoSQL or not. It is not solely here to promote NoSql solutions but will hopefully give you some advice as to when to use Relational Data Models as well.</p>

<p>You can explore the world of NoSql through the activities that are linked to below</p>

<h2>Tools</h2>

<ul>
	<li>Answer a <a href="/questionnaire">questionnaire</a> that aims to discover whether you problem is better handled by a relational or a key-value/key-document data model</li>
	<li>You can use a <a href="/flowchart">flowchart</a> which asks a series of questions to direct you to a NoSQL solution that might be most suitable for you.</li>
</ul>

<h2>Information</h2>

<p>This site serves to <a href="http://www.thoughtworks.com/articles/nosql-comparison">expand and supplement an article introducing NoSql</a> I wrote for my former employer <a href="http://www.thoughtworks.com">ThoughtWorks</a>.</p>

<p>I am trying to keep track of some interesting <a href="/examples">examples</a> of web applications that use NoSQL to show what is possible and illustrate some of the use cases for NoSql technology.</p>

<p><a href="http://rrees.wordpress.com">My blog</a> has a lot of NoSql material and is the first place that I write about new ideas and products.</p>

<h3>Talks</h3>

<ul>
	<li>
		<p><a href="http://documents-and-graphs.heroku.com">Documents and Graphs</a>, NoSql Exchange November 2011</p>
		<p>Experience report of using polyglot persistence in production.</p>
	</li>
	<li>
		<p><a href="http://closer-my-graph.heroku.com">Closer, my graph, to thee</a>, Neo4J London user group November 2011</p>
		<p>How to create a website as a thin layer of logic over a graph.</p>
	</li>
	<li>
		<p><a href="http://journeys-with-maps.heroku.com">Journeys with Maps</a> given at the <a href="http://ldnclj.github.com/">London Clojure User Group</a> August 2011.</p>
		<p>Adopting maps and functional programming on top of JSON stores instead of using objects.</p>
	</li>
	<li>
		<p><a href="http://please-please-nosql.heroku.com">Please Boss can I use NoSql?</a> given to the Cologne JUG in February 2011.</p>
		<p>Reasons for adopting non-relational datastores and advice on introducing them into your workplace.</p>
	</li>
</ul>

<h3>Essays</h3>

<ul>
	<li><p><a href="http://no-sql.s3-website-eu-west-1.amazonaws.com/">The square peg in the square hole</a></p>
		<p>An introduction to NoSQL technologies and an overview of solution and design concerns when adopting non-relational store technologies</p>
</ul>

<h3>About me</h3>

<p>You can <a href="http://twitter.com/rrees">find me on Twitter</a> if you want to get in touch.</p>



{% endblock content %}